/* Everywhere */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}
h1 {
  text-align: center;
  margin-top: 2em;
  color: #222;
}
.standard-text {
  margin-inline: 10px;
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: #0c9400;
  transition: linear 0.2s;
}
a:hover {
  transition: linear 0.2s;
  color: #11cf00;
}

/* Navbar */
.navbar {
  background-color: #aaa;
  padding: 0.5em 0;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar li {
  margin: 0 1.5em;
}
.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.2s;
}
.navbar a:hover {
  color: #444;
}

/* Progress Bars */
.progbar {
  margin-inline: auto;
  width: 80%;
  height: 10px;
  border: 3px solid black;
  border-radius: 5px;
}
.progress-craftmate {
  width: 10%;

  height: 100%;
  background-color: #3ef02e;
  border-radius: 4px;
}
.progress-jsm {
  width: 2%;

  height: 100%;
  background-color: #3ef02e;
  border-radius: 4px;
}

.centered {
  text-align: center;
}
